{% extends "base.html" %}

{% block app_content %}
    <h1>Hi, My name is Manoj Paladugu</h1>
	<p>
    	I'm currently studying Software Engineering(Hons) degree at the University of Canterbury in Christchurch. In my spare time
		I thoroughly enjoy writing code and spend most of my time doing such. I have a passion for programming and have a lot of experience 
		from working on several personal projects of mine. My strongest languages are Python, Java and VB.NET.
    </p>
	<p> This website has been built by scratch by me built with Flask, a python micro web framework. 
		This is form based website application which shows that I have a 
		through knowledge of understanding and building a complex website application consisting of several features such as  <br /> 
		User login system <br /> 
		Password reset capability <br /> 
		Simple database handling <br /> 
		Followers/Following system <br /> 
		Pagination <br /> 
		Email support  <br />
		
		
		
    <p><a href="{{ url_for('index') }}">Home</a></p>
{% endblock %}